<html>
<head>
	<title>Bulls 'n Cows!</title>
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id="body">
		<div class="section">
			<h1>Bulls 'n Cows!</h1>
			<div class="center">
				<button id = "new">New Game</button>
			</div>
		</div>

		<div class="section">
			<h2>Guess</h2>
			<form action="">
				<input id = "gameId" type="hidden">
				<input type="text" maxlength="1" id="1">
				<input type="text" maxlength="1" id="2">
				<input type="text" maxlength="1" id="3">
				<input type="text" maxlength="1" id="4">
			</form>
			<p id = "error"></p>
			<div class="center">
				<button id = "enter">Enter Guess</button>
			</div>
		</div>

		<div class="section">
			<h2>Matches</h2>
			<div class="two-column">
				<p>Exact:</p>
				<p id="exact-result">3</p>

				<p>Partial:</p>
				<p id="partial-result">4</p>
			</div>
		</div>
		<div class="section">
			<h3>History</h3>
			<div class="grid-container" id = "history">
				<div class="grid-item">Guess:</div>
				<div class="grid-item">Partial:</div>
				<div class="grid-item">Exact:</div>
				<div id = "data"></div>
			</div>
		</div>
	</div>


	<script
			src="https://code.jquery.com/jquery-3.5.1.js"
			integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			crossorigin="anonymous"></script>

	<script src = "./script.js"></script>
</body>
</html>