<html>
<head>
	<title>Bulls 'n Cows!</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.typekit.net/rlr3jft.css">
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class = "row center">
		<div class = "col-md-6">
			<button id = "new">< New Game</button>
			<h1>Guess the Number</h1>
			<form class = "center" action="">
				<input id = "input" class = "center" type="text" maxlength="4">
				<button id = "enter" class="btn center" >Enter</button>
				<p id = "error"></p>
			</form>
		</div>
		<div class = "col-md-6">
			<div id = "moveRight">
				<button id = "all">All Games ></button>
			</div>
			<h2>History</h2>
			<p id = "gameId">No game selected</p>
			<div class="grid-container" id = "historyTitle">
				<div class="grid-item">Guess</div>
				<div class="grid-item">Partial</div>
				<div class="grid-item">Exact</div>
			</div>
			<div class="grid-container" id = "history">
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="  crossorigin="anonymous"></script>
	<script src = "./script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
